<br/>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/admin/settings">View/Modify Reservations</span></a></li>
                <li><a href="#/admin/profile">Profile Settings</a></li>
                <li><a href="#/admin/visitors">Visitors log</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class ="container">

    <div class="col-md-4 ">

        <form name="adminSettingsForm" ng-submit = "adminSettingsForm.$valid && adminSettingsVm.getReservationsByDateTime()"  novalidate>
            <div class="form-group">
                <label for="date">Reservation Date</label>
                <input type="date" class="form-control" id="date" ng-model = "adminSettingsVm.date" name = "date" required>
                <div ng-messages="adminSettingsForm.date.$error" ng-if="adminSettingsForm.date.$dirty">
                    <p ng-message="required">Date is required</p>

                </div>
            </div>
            <div class="form-group">
                <label for="frtime">From Reservation Time</label>
                <input type="time" class="form-control" id="frtime" ng-model = "adminSettingsVm.frtime" name = "frtime"  required>
                <div ng-messages="adminSettingsForm.frtime.$error" ng-if="adminSettingsForm.frtime.$dirty">
                    <p ng-message="required">Time is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="totime">To Reservation Time</label>
                <input type="time" class="form-control" id="totime" ng-model = "adminSettingsVm.totime" name = "totime"  required>
                <div ng-messages="adminSettingsForm.totime.$error" ng-if="adminSettingsForm.totime.$dirty">
                    <p ng-message="required">Time is required</p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>

    <div class="col-md-offset-1 col-md-7">

        <br/>
        <div class="panel-group" id="accordion">
            <h2>List of reservations by Reservation ID :</h2><br/>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Reservation ID: UAV32456-958-959</a>
                        <button onclick="location.href= '#/admin/settings/modifyreservation' "  type = "submit" class="btn btn-warning">Modify reservation
                        </button>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p><h5>Reservation Date:11-17-2015</h5>
                        <h5>Reservation from: 10AM - 12 PM </h5>
                        <h5>Duration of Reservation : 2 hours</h5>
                        <h5>No.of persons:4</h5>
                        <h5>Name:Testing123</h5>
                        <h5>Contact Number:999-999-9999</h5></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Reservation ID: UGV32456-958-859</a>
                        <button onclick="location.href= '#/admin/settings/modifyreservation' "  type = "submit" class="btn btn-warning">Modify reservation
                        </button>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><h5>Reservation Date:11-17-2015</h5>
                        <h5>Reservation from: 1PM - 3 PM </h5>
                        <h5>Duration of Reservation : 2 hours</h5>
                        <h5>No.of persons:3</h5>
                        <h5>Name:Testing345</h5>
                        <h5>Contact Number:999-999-9999</h5></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Reservation ID: TAV32456-358-959</a>
                        <button onclick="location.href= '#/admin/settings/modifyreservation' "  type = "submit" class="btn btn-warning">Modify reservation
                        </button>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><h5>Reservation Date:11-17-2015</h5>
                        <h5>Reservation from: 10AM - 12 PM </h5>
                        <h5>Duration of Reservation : 2 hours</h5>
                        <h5>No.of persons:3</h5>
                        <h5>Name:Testing567</h5>
                        <h5>Contact Number:999-999-9999</h5></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<br/>
<br/>
<br/>
<br/>
<div class ="row"></div>
<div class ="container">
        <div class = "row">
            <div class="col-md-12">
                <div class = "row">

                    <div class="col-md-3">
                        <img src="images/table.jpg" alt="..." class="img-circle">
                        <button class="btn btn-success" type="button">
                            T1-Available <span class="badge"> 4 </span>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <img src="images/table.jpg" alt="..." class="img-circle">
                        <button class="btn btn-danger" type="button">
                            T2-Reserved <span class="badge">5 </span>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <img src="images/table.jpg" alt="..." class="img-circle">
                        <button class="btn btn-success" type="button">
                            T3-Available <span class="badge"> 4 </span>
                        </button>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div class = "row">

                    <div class="col-md-3">
                        <img src="images/table.jpg" alt="..." class="img-circle">
                        <button class="btn btn-success" type="button">
                            T4-Available <span class="badge"> 4 </span>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <img src="images/table.jpg" alt="..." class="img-circle">
                        <button class="btn btn-danger" type="button">
                            T5-Reserved <span class="badge">3 </span>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <img src="images/table.jpg" alt="..." class="img-circle">
                        <button class="btn btn-success" type="button">
                            T6-Available <span class="badge"> 4 </span>
                        </button>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div class = "row">

                    <div class="col-md-3">
                        <img src="images/table.jpg" alt="..." class="img-circle">
                        <button class="btn btn-danger" type="button">
                            T7-Reserved <span class="badge">5 </span>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <img src="images/table.jpg" alt="..." class="img-circle">
                        <button class="btn btn-danger" type="button">
                            T8-Reserved <span class="badge">6 </span>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <img src="images/table.jpg" alt="..." class="img-circle">
                        <button class="btn btn-danger" type="button">
                            T9-Reserved <span class="badge">5 </span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
</div>